In [14]:
import pandas as pd
import numpy as np

In [23]:

# Load the sample dataset
data = {
    'customer_id': [1001, 1002, 1003, 1001, 1004, 1005, 1006, 1002, 1007, 1008, 1009, 1010],
    'customer_name': ['John Smith', 'Jane Doe', 'Bob Johnson', 'John Smith', 'Alice Brown', 
                     'Charlie Wilson', 'Diana Prince', 'jane doe', 'Eve Adams', 'Frank Miller', 
                     'Grace Lee', 'Henry Ford'],
    'email': ['john@email.com', 'jane@email.com', 'bob@email.com', 'john@email.com', 
             'alice@email.com', 'charlie@email.com', 'diana@email.com', 'jane@email.com',
             'eve@email.com', 'frank@email.com', 'grace@email.com', 'henry@email.com'],
    'age': [25, 30, 35, 25, 28, '45', 50, 30, 33, 'moshe', 29, 42],
    'purchase_amount': [100.50, 250.75, 150.25, 75.00, 300.00, 125.50, 200.00, 180.25, 
                       90.75, 220.00, 'invalid', 175.50],
    'purchase_date': ['2024-01-15', '2024-01-16', '2024-01-17', '2024-01-15', '2024-01-18',
                     '2024-01-19', '2024-01-20', '2024-01-21', '2024-01-22', '2024-01-23',
                     '2024-01-24', '2024-01-25'],
    'category': ['Electronics', 'Clothing', 'Books', 'Electronics', 'Home', 'Sports', 
                'Beauty', 'clothing', 'Books', 'Electronics', 'Home', 'Sports']
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)
print(f"\nDataset shape: {df.shape}")

Original Dataset:
    customer_id   customer_name              email    age purchase_amount  \
0          1001      John Smith     john@email.com     25           100.5
1          1002        Jane Doe     jane@email.com     30          250.75
2          1003     Bob Johnson      bob@email.com     35          150.25
3          1001      John Smith     john@email.com     25            75.0
4          1004     Alice Brown    alice@email.com     28           300.0
5          1005  Charlie Wilson  charlie@email.com     45           125.5
6          1006    Diana Prince    diana@email.com     50           200.0
7          1002        jane doe     jane@email.com     30          180.25
8          1007       Eve Adams      eve@email.com     33           90.75
9          1008    Frank Miller    frank@email.com  moshe           220.0
10         1009       Grace Lee    grace@email.com     29         invalid
11         1010      Henry Ford    henry@email.com     42           175.5

   purchase_date     category
0     2024-01-15  Electronics
1     2024-01-16     Clothing
2     2024-01-17        Books
3     2024-01-15  Electronics
4     2024-01-18         Home
5     2024-01-19       Sports
6     2024-01-20       Beauty
7     2024-01-21     clothing
8     2024-01-22        Books
9     2024-01-23  Electronics
10    2024-01-24         Home
11    2024-01-25       Sports

Dataset shape: (12, 7)

In [25]:
# Exercise 1: Display basic information about the dataset
print("Dataset Info:")
# YOUR CODE HERE (hint: use .info() method)

print("\nFirst few rows:")
# YOUR CODE HERE (hint: use .head() method)

print("\nDataset description:")
# YOUR CODE HERE (hint: use .describe() method)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      12 non-null     int64
 1   customer_name    12 non-null     object
 2   email            12 non-null     object
 3   age              12 non-null     object
 4   purchase_amount  12 non-null     object
 5   purchase_date    12 non-null     object
 6   category         12 non-null     object
dtypes: int64(1), object(6)
memory usage: 804.0+ bytes

First few rows:

Dataset description:

       customer_id
count    12.000000
mean   1004.833333
std       3.157483
min    1001.000000
25%    1002.000000
50%    1004.500000
75%    1007.250000
max    1010.000000

In [38]:
# Exercise 2: Check current data types
print("Current data types:")
# YOUR CODE HERE (hint: use .dtypes attribute)

# Check for non-numeric values in the 'age' column
print("\nUnique values in 'age' column:")
# YOUR CODE HERE (hint: use .unique() method)

# Check for non-numeric values in the 'purchase_amount' column
print("\nUnique values in 'purchase_amount' column:")
# YOUR CODE HERE (hint: use .unique() method)

# Convert 'age' column to numeric, handling errors appropriately
# YOUR CODE HERE (hint: use pd.to_numeric() with errors parameter)

# Convert 'purchase_amount' column to numeric, handling errors appropriately  
# YOUR CODE HERE (hint: use pd.to_numeric() with errors parameter)

# Convert 'purchase_date' to datetime
# YOUR CODE HERE (hint: use pd.to_datetime())

print("\nData types after conversion:")
# YOUR CODE HERE
print(df.dtypes)

Current data types:
customer_id          int64
customer_name       object
email               object
age                float64
purchase_amount     object
purchase_date      float64
category            object
dtype: object

Unique values in 'age' column:
[25. 30. 35. 28. 45. 50. 33. nan 29. 42.]

Unique values in 'purchase_amount' column:
[100.5 250.75 150.25 75.0 300.0 125.5 200.0 180.25 90.75 220.0 'invalid'
 175.5]
0     25.0
1     30.0
2     35.0
3     25.0
4     28.0
5     45.0
6     50.0
7     30.0
8     33.0
9      NaN
10    29.0
11    42.0
Name: age, dtype: float64
purchases:
 0     100.50
1     250.75
2     150.25
3      75.00
4     300.00
5     125.50
6     200.00
7     180.25
8      90.75
9     220.00
10       NaN
11    175.50
Name: purchase_amount, dtype: float64
dates:
 0    1970-01-01 00:00:00.000000100
1    1970-01-01 00:00:00.000000250
2    1970-01-01 00:00:00.000000150
3    1970-01-01 00:00:00.000000075
4    1970-01-01 00:00:00.000000300
5    1970-01-01 00:00:00.000000125
6    1970-01-01 00:00:00.000000200
7    1970-01-01 00:00:00.000000180
8    1970-01-01 00:00:00.000000090
9    1970-01-01 00:00:00.000000220
10                             NaT
11   1970-01-01 00:00:00.000000175
Name: purchase_date, dtype: datetime64[ns]

Data types after conversion:
customer_id                 int64
customer_name              object
email                      object
age                       float64
purchase_amount           float64
purchase_date      datetime64[ns]
category                   object
dtype: object

In [48]:
# Exercise 3: Check for missing values
print("Missing values per column:")
# YOUR CODE HERE (hint: use .isnull().sum() or .isna().sum())
# print(df.isnull().sum())


# Check for NaN values that might have been created during type conversion
print("\nNaN values after type conversion:")
# YOUR CODE HERE

# Handle missing values in 'age' column (replace with median)
# YOUR CODE HERE (hint: use .fillna() with .median())

# Handle missing values in 'purchase_amount' column (replace with mean)
# YOUR CODE HERE (hint: use .fillna() with .mean())

print("\nMissing values after handling:")
# YOUR CODE HERE

Missing values per column:
customer_id        0
customer_name      0
email              0
age                1
purchase_amount    1
purchase_date      1
category           0
dtype: int64

NaN values after type conversion:
customer_id        0
customer_name      0
email              0
age                1
purchase_amount    1
purchase_date      1
category           0
dtype: int64

Missing values after handling:

In [19]:
# Exercise 4: Check for duplicate rows
print("Number of duplicate rows:")
# YOUR CODE HERE (hint: use .duplicated().sum())

# Display duplicate rows
print("\nDuplicate rows:")
# YOUR CODE HERE (hint: use boolean indexing with .duplicated())

# Check for duplicates based on specific columns (customer_id and email)
print("\nDuplicates based on customer_id and email:")
# YOUR CODE HERE (hint: use .duplicated() with subset parameter)

# Remove duplicate rows (keep first occurrence)
# YOUR CODE HERE (hint: use .drop_duplicates())

print(f"\nDataset shape after removing duplicates: {df.shape}")

Number of duplicate rows:

Duplicate rows:

Duplicates based on customer_id and email:

Dataset shape after removing duplicates: (12, 7)

In [20]:
# Exercise 5: Check unique values in 'customer_name' column
print("Unique customer names:")
# YOUR CODE HERE (hint: use .unique())

# Check for case sensitivity issues in 'category' column
print("\nUnique categories:")
# YOUR CODE HERE 

# Get value counts for 'category' column
print("\nCategory value counts:")
# YOUR CODE HERE (hint: use .value_counts())

# Standardize 'category' column (convert to title case)
# YOUR CODE HERE (hint: use .str.title())

# Standardize 'customer_name' column (convert to title case)
# YOUR CODE HERE (hint: use .str.title())

print("\nStandardized categories:")
# YOUR CODE HERE

Unique customer names:

Unique categories:

Category value counts:

Standardized categories:

In [21]:
# Exercise 6: Check age range (should be between 0 and 120)
print("Age validation:")
print(f"Min age: {df['age'].min()}")
print(f"Max age: {df['age'].max()}")

# Identify invalid ages
invalid_ages = # YOUR CODE HERE (hint: use boolean conditions)
print(f"Number of invalid ages: {len(invalid_ages)}")

# Check for negative purchase amounts
print(f"\nNegative purchase amounts: {(df['purchase_amount'] < 0).sum()}")

# Check email format (basic validation - contains '@' and '.')
print(f"\nEmails without '@': {(~df['email'].str.contains('@')).sum()}")
print(f"Emails without '.': {(~df['email'].str.contains('\.')).sum()}")

# Check date range (should be reasonable dates)
print(f"\nEarliest purchase date: {df['purchase_date'].min()}")
print(f"Latest purchase date: {df['purchase_date'].max()}")

Age validation:

<>:16: SyntaxWarning: invalid escape sequence '\.'
<>:16: SyntaxWarning: invalid escape sequence '\.'
C:\Users\yuval\AppData\Local\Temp\ipykernel_29684\1857435783.py:16: SyntaxWarning: invalid escape sequence '\.'
  print(f"Emails without '.': {(~df['email'].str.contains('\.')).sum()}")
C:\Users\yuval\AppData\Local\Temp\ipykernel_29684\1857435783.py:16: SyntaxWarning: invalid escape sequence '\.'
  print(f"Emails without '.': {(~df['email'].str.contains('\.')).sum()}")

TypeError: '<=' not supported between instances of 'int' and 'str'

In [ ]:
# Exercise 7: Display final dataset info
print("Cleaned Dataset Summary:")
# YOUR CODE HERE (hint: use .info())

print(f"\nFinal dataset shape: {df.shape}")

# Show value counts for categorical columns
print("\nFinal category distribution:")
# YOUR CODE HERE

# Display basic statistics for numerical columns
print("\nNumerical columns statistics:")
# YOUR CODE HERE (hint: use .describe())

# Show the cleaned dataset
print("\nCleaned Dataset:")
print(df)